
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
:root{
    --cor-primaria: #22D4FD;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #000000;

}


* {
    margin: 0;
    padding: 7px;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}


.apresentacao {
    padding: 5% 15%;
    /* margin:10% 15%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Apresentacao__conteudo{
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.Apresentacao__conteudo__titulo {
    font-size: 3.5em;
}
.Apresentacao__conteudo__texto {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.Apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.Apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-primaria);
    text-align: center;
    /* background-color: #22D4FD; */
    color: var(--cor-secundaria);
    width: 280px;
    border-radius: 8px;
    font-size: 23px;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 580;
    
}
.Apresentacao__links__link:hover {
    background-color: #272727;
   
}
.imagem{
    width: 500px;
}
.rodape {
    color: var(--cor-terciaria);
    background-color: var(--cor-primaria);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    align-items: center;
    padding: 24px;

}


h1{
    font-weight: bold;
}
.DestaqueTitulo {
    color: var(--cor-primaria)
}

/* span{
    font-family: "Inconsolata", monospace;
    color: #22D4FD;
    border: 1px solid #fefefe;
    padding: 7px;
    border-radius: 5px;

} */