/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    color: #333;
}

form, #resultado, button {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 22px);
}

input[type="button"], button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="button"]:hover, button:hover {
    background-color: #0056b3;
}

#resultado {
    color: #333;
}

#resultado.codificado {
    background-color: lightblue;
}

#resultado.decodificado {
    background-color: lightgreen;
}

